.title{
    background-color: rgb(252, 236, 225);
    padding: 20px 30px;
    text-align: center;
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}