.footer {
    background-color: #2666CF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F5F2E7;
}

.aDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    color: #F5F2E7;
    text-decoration: none;
    margin: 5px;
}